# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify
